body, #main {
  width: 100%; 
  margin: 1cm 0;
  float: none;
  font-size: 12pt;
}

header, nav {
  display: none;
}

h1, h2, h3 {
  page-break-after: avoid;
}

p { 
  page-break-inside: avoid;
} 

a, a:link, a:visited {
  color: #333;
}

.sidebar {
  display: none;
}

.mugshot {
  float: right;
}

.print-only {
  display: inherit;
}

hr.page-break {
  page-break-before: always;
  display: block;
  width: 0;
  height: 0;
}