/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Reset */
html, body, div, span,
h1, h2, h3, p, pre,
a, strong, em,
table, thead, tr, th, td,
ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #353535;
    font-family: "Lucida Grande", Calibri, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
}

p {
    margin-bottom: 0.6em;
    line-height: 140%;
}

a {
    color: #06A3EB;
    text-decoration: none;
}

ul {
    margin-bottom: 0.6em;
}

li {
    list-style: disc inside;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 15px 0;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 10px 0;
}

#wrap {
    width: 960px;
    margin: 0 auto;
}

#header {
    padding: 10px 10px;;
    color: #999;
}

#header h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

#header h1 a {
    color: #999;
}

#nav {
    height: 50px;
    background: #111;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
    display: block;
    list-style-type: none;
}

#nav a {
    float: left;
    display: block;
    padding: 17px 10px;
    color: #ddd;
    text-decoration: none;
}

#page {
    background: white;
}

#page > h2 {
    font-size: 22px;
    color: #444;
    background: #eee;
    padding: 10px 15px;
    margin: 0;
}

#content {
    margin: 0;
    padding: 10px 15px;
}

#content p {
    max-width: 600px;
}

#content h1:first-child {
    margin-top: 5px;
}

#footer {
    padding: 10px 15px;
    background: #111;
    color: #666;
}

#footer p {
    margin-bottom: 0.4em;
}

#footer a {
    color: #666;
}

#footer a:hover {
    color: #06A3EB;
}

.column {
    width: 50%;
    float: left;
}

.clear {
    height: 0;
    clear: both;
}

/* Posts */

.meta {
    color: #999;
}

/* Highlighting */

#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    margin: 0 0 10px 0;
}

#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
}

#post pre code {
    border: none;
}
