/* Global
 * ------*/

/* Reset */
html, body, div, span,
h1, h2, h3, p, pre,
a, strong, em,
table, thead, tr, th, td,
ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  margin: 0;
  line-height: 1;
  background: white;
  color: #333;
  font: 62.5%/1.6em Arial,Verdana,sans-serif;
  min-width: 960px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
  text-align: left;
  vertical-align: top;
}

body {
    font-family: "Lucida Grande", Calibri, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
}

a {
  font-weight: normal; 
  text-decoration: none;
}

em {
  font-style: italic;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a, img, a img, form, fieldset, object, applet {
  border: none;
}

p {
    margin-bottom: 0.4em;
    line-height: 20px;
}


ul {
    margin-bottom: 0.6em;
    margin-left: 15px;
}

li {
    list-style: disc;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 15px 0;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 5px 0;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    margin-top: 15px;
    xbackground: url(/media/img/12_col.gif);
}

#header {
    color: #888;
    display: inline;
    float: left;
    width: 140px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    border-top: 3px solid #400;
}

#header h1 {
    margin: 0;
    padding: 0;
   border-bottom: 1px solid #400;
    margin-bottom: 10px;
}

#header h1 a {
    font-size: 22px;
  display: block;
     height: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #333;
    padding-left: 4px;
}

#header h1 a:hover {
  background: #f00;
  color: #fff;
}

#header .slogan {
  padding-left: 4px;
}

#nav {
    float: left;
    width: 780px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 3px solid #400;
    border-bottom: 1px solid #400;
    padding: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
    position: relative;
    left:-10px;
}

#nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav a {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    width: 52px;
    height: 35px;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    color: #666;
    text-decoration: none;
    font-weight: bold;
}

#nav a:hover {
  background: #f00;
  color: white;
}

#search {
  position: relative;
  top: 12px;
  margin: 0;
  float: right;
  width: 300px;
}

#search .gsc-clear-button {
  display: none !important;
}

#search .gsc-branding {
  display: none !important;
}

#page {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

#page > h2 {
  position: relative;
  left: 160px;
  padding: 4px;
    font-size: 22px;
    color: #444;
  margin-left: 10px;
  margin-right: 10px;
}

#content {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  position: relative;
}

#content h1:first-child {
    margin-top: 5px;
}

#content h1, 
#content h2,
#content h3,
#content ul,
#content img,
#content table,
#content pre,
#content p {
  position: relative;
  left: 160px;
  padding: 4px;
}

#content .hanging {
  width: 620px;
  left: 0;
}

#content p {
    margin-bottom: 0.6em;
}

#content li pre {
  left: 0;
  margin-top: 10px;
}

#content a {
  color: #b00; 
  text-decoration: none;
}

#content a:hover {
  border-bottom: 1px solid #ccc;
}

#content img {
  padding: 0;
  margin: 0;
}

#content .caption {
  color: #666;
  font-size: 11px;
  padding: 2px 0;
  margin: 0;
}

#content table {
    margin-bottom: 1em;
    border: 1px solid #ddd;
}

#content table img, #content li img {
  left: 0;
  padding: 0;
}

#content th {
    background: #eee;
    padding: 1em 0.5em;
    font-weight: bold;
    text-align: left;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#content th:first-child {
    border-right: 1px solid #ddd;
}

#content td {
    padding: 0.5em 0.5em;
    border: 1px solid #ddd;
    vertical-align: middle;
}


#footer {
    width: 940px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #400;
    border-bottom: 3px solid #400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666;
}

#footer p {
    margin-bottom: 0.4em;
    position: relative;
    left: 164px;
}

#footer a {
    color: #666;
}

#footer a:hover {
    color: #800;
}

.column {
    width: 50%;
    float: left;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    widht: 0;
    height: 0;
}

/* Posts */

.meta {
    color: #999;
}

/* Highlighting */

#content pre {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    padding: 4px;
    margin-bottom: 10px;
}

#content code {
  margin: 0;
  padding: 0;
}

#content pre code {
    border: none;
}
