/* Reset */
html, body, div, span,
h1, h2, h3, p, pre,
a, strong, em,
table, thead, tr, th, td,
ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  background: white;
  color: #333;
  font: 62.5%/1.6em Arial,Verdana,sans-serif;
  min-width: 960px;
  background: url(/media/img/ice_age.png);
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
  text-align: left;
  vertical-align: top;
}

body {
    font-family: "Lucida Grande", Calibri, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
}

a {
  font-weight: normal; 
  text-decoration: none;
  color: #b00;
}

em {
  font-style: italic;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a, img, a img, form, fieldset, object, applet {
  border: none;
}

p {
    margin-bottom: 0.4em;
    line-height: 20px;
}


ul {
    margin-bottom: 0.6em;
    margin-left: 15px;
}

li {
    list-style: disc;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 15px 0;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 5px 0;
}

/* Header */

header {
    color: #888;
    margin-bottom: 20px;
}

nav {
  background: #f5f7f9 url(/media/img/grid_noise.png);
  border-top: 4px solid rgba(30, 0, 120, 0.4);
  padding: 20px 30px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

nav a {
    width: 52px;
    height: 35px;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    color: #666;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
  color: #b00;
}

header h1 {
  padding: 10px 30px;
  margin: 0;
}

header h1 a {
    font-size: 22px;
    color: #333;
}

header h1 a:hover {
  color: #b00;
}

/* Footer */

footer {
  margin: 30px;
  padding: 10px 0;
  font-size: 80%;
  color: #666;
  border-top: 1px solid #ccc;
}

footer a {
    color: #866;
}

footer a:hover {
    color: #800;
}

/* Content */

.container {
    padding: 0 30px;
    margin-top: 15px;
}

/* Projects */

.projects {
  margin: 0;
  padding: 0;
}

.projects:after {
  content: ".";
  display:block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.projects li {
  list-style: none;
  float: left;
  width: 320px;
}

.projects li img {
  display: block;
}

.project {
  max-width: 40em;
}

.project-images {
  margin-top: 20px;
}


/* Posts */

.post {
  max-width: 40em;
}

.meta {
    color: #999;
}

/* Doodles */

.doodle {
  max-width: 40em;
}

/* Highlighting */

#content pre {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    padding: 4px;
    margin-bottom: 10px;
}

#content code {
  margin: 0;
  padding: 0;
}

#content pre code {
    border: none;
}


.doodles {
  margin: 0;
  padding: 0;
}

.doodles li {
  width: 200px;
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;
  text-align: center;
}

.doodles a img {
  border: 0;
}