body {
	font-family: Arial;
	font-size: 12px;
	
	margin-top: 20px;
}

p
{
text-indent: 50px;
text-align:justify;
letter-spacing:3px;
}
a
{
text-decoration:none;
}

h1 {
	font-family: Arial;
	font-size: 16px;
		text-indent: 20px;
text-align:justify;
letter-spacing:2px;
	
	margin-top: 0px;
}

#container {
	background: rgba(255, 255, 255, 0.3);
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	padding: 10px;
	
	height: 80px;
}

#header h1 {
	font-family: Times New Roman, serif;
	font-style: italic;
	font-size: 550%;
	text-align: right;
	font-weight: lighter;
	line-height: 65%;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin: 0;
	padding: 0;
	
}

#nav {
	padding: 0;
	padding-top: 0px;
}

#nav ul {
	margin-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	background: url(lijn.png); 
	background-repeat: repeat-x;
	background-position: left 50%; 
}

#nav li {
	list-style: none;
	display: inline;
	text-decoration: none;
	padding-right: 10px;
}

#nav a {
	text-decoration: none;
	color: #333;
	font-size: 18px;
	padding: 5px;
}

#nav a:hover {
	background: rgba(255, 255, 255, 0.8);
}

#content {
	background: url(achtervierkant.jpg);
	padding: 10px;
}

.gallery ul {
	margin: 50px;
	margin-top:0;
	padding: 100px;
}

.gallery li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	padding-right: 10px;
}

#footer {
	padding: 10px;
	font-size: 10px;
	color: #999999;
}