body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background: url(grass.jpg) no-repeat 50% 0; 
	background-attachment: fixed;
	margin-top: 20px;
}

h1 {
	font-family: Georgia, serif;
}

#container {
	background: url(achtergrond.png);
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 140px;
}

#header {
	padding: 10px;
	height: 80px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#header h1 {
	font-family: 'Josefin Sans Std Light', arial, serif;
	font-size: 500%;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin: 0;
	padding: 0;
	padding-top: 50px;
}

#nav {
	padding: 10px;
	padding-top: 0;
}

#nav ul {
	margin: 0;
	padding: 50px;
	text-align: center;
}

#nav li {
	font-family: 'Reenie Beanie', arial, serif;
	list-style: none;
	display: inline;
	text-decoration: none;
}

#nav a {
	text-decoration: none;
	color: #333;
	font-size: 45px;
	padding: 20px;
}

#nav a:hover {
	color: white;
}

#content {
	font-family: 'Josefin Sans Std Light', arial, serif;
	font-size: 15px;
	padding: 20px;
}

.gallery ul {
	margin: 0;
	padding: 0;
}

.gallery li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	padding-right: 50px;
	padding-left: 50px;
}

#footer {
	padding: 10px;
	font-size: 10px;
	color: black
}