body {
	font-family: courier new, sans-serif;
	font-size: 13px;
	background: url(background.png);
	margin-top: 20px;
	
}

h1 {
	font-family: courier new, serif;
}

#container {
	background: #ff1b20;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	padding: 5px;
	background-image: url(_DSC0029.JPG);
	height: 80px;
}

#header h1 {
	font-family: courier new, serif;
	font-size: 300%;
	color: #080004;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin: 5px;
	margin-left: 40px;
	padding: 5px;
}

#nav {
	padding: 10px;
	padding-top: 0;
	color: #c0c0b7;
}

#nav ul {
	margin: 15px;
	padding: 0;
	color: #c0c0b7;
}

#nav li {
	list-style: none;
	display: inline;
	text-decoration: none;
	padding: 5px;
}

#nav a {
	text-decoration: none;
	color: #fffeff;
	font-size: 15px;
	padding: 0px;
	
}

#nav a:hover {
	background: #ff634e;
}

#content {
	padding: 22px;
}

#content a {color:white;}

.gallery ul {
	margin: 0;
	padding: 0;
	
}

.gallery li {
	margin-top: 0;
	padding: 0;
	display: inline;
	list-style: none;
	padding-right: 0px;	
}

#footer {
    padding-left: 380px;
    padding-bottom: 2px;
	font-size: 12px;
	color: #38000b;
	background-image: url(_DSC0029.JPG);
	border-top: solid;
}