body {
	font-family: Georgia, serif;
	font-size: 14px;
	color: white;
	background: pink;
	background-image: url(achtergrond.gif);
	
}


div.scroll {
height: 200px;
width: 850px;
overflow: auto;
border: 1px solid none ;
background-color: none;
padding: 8px;

}


h1 {
	font-family: Georgia, serif;
	
}

#container {
	
	background-image: url(chocoladevlak.png);
	width: 885px;
	height: 830px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 20px; 
	

}


#header {
	padding: 10px;
	background-image: url();
	height: 80px;
}

#header h1 {
	font-family: Georgia, serif;
	font-size: 400%;
	color: pink;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin: 0;
	padding: 0;
}

#nav {
	padding: 10px;
	padding-top: 0;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	display: inline;
	text-decoration: none;
}

#nav a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 5px;
}

#nav a:hover {
	background: pink;
}



#content {
	padding: 10px;
}

.gallery { display:inline; }

.gallery ul {
	margin: 0;
	padding: 0;
}

.gallery li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	padding-right: 20px;
	
}

#footer {
	padding-left: 10px;
	font-size: 10px;
	color: pink;
	margin-top: -20px;
	
}