body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background: url(cityskyline065647.jpg);
	margin-top: 20px;
}

h1 {
	font-family: Georgia, serif;
}

#container {
	background: url(muur.jpg);
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}


	#header h1 {
	
    font-family: Georgia, serif;
    font-size: 400%;
	color: rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin: 0;
	padding: 0;
	
}
#header {
padding-left: 15px;
padding-top: 10px;
}



#nav {
	padding: 10px;
	padding-top: 0;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	display: inline;
	text-decoration: none;
}

#nav a {
	text-decoration: none;
	color: #333;
	font-size: 18px;
	padding: 5px;
}

#nav a:hover {
	background: rgba(255, 255, 255, 0.8);
}

#content {
	padding: 10px;
}

.gallery ul {
	margin: 0;
	padding: 0;
}

.gallery li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	padding-right: 10px;
}

#footer {
	padding: 10px;
	font-size: 10px;
	color: #999999;
}