<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | enigmeta</title>
  <meta name="author" content="Frederik De Bleser">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700,300">
  <link rel="stylesheet" href="/media/css/main.css?{{site.time | date: '%s%N'}}">
  <link rel="stylesheet" href="/media/css/print.css?{{site.time | date: '%s%N'}}" media="print">
</head>
<body id="{{ page.id }}">
{{ content }}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22399433-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  document.querySelector('.header__hamburger').addEventListener('click', function() {
    document.querySelector('header').classList.toggle('header--open');
  });
  var navLinks = document.querySelectorAll('.header__nav a');
  [].map.call(navLinks, function(link) {
      link.addEventListener('click', function() {
        document.querySelector('header').classList.remove('header--open');
      });
  });
</script>
</body>
</html>
