<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Frederik De Bleser" />
   <link href="http://feeds2.feedburner.com/enigmeta" rel="alternate" title="Enigmeta" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Frederik De Bleser</a>
    <a class="extra" href="/">home</a>
  </div>

  <div class="adopt">
    <a href="https://getmiro.com/adopt/adoptee/138/e6a582/"><img style="border:0;" src="https://getmiro.com/adopt/adoptee/138/e6a582/5.png" /></a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Frederik De Bleser<br />
        Researcher at <a href="http://www.sintlucasantwerpen.be/">Sint Lucas Antwerpen</a><br />
        frederik@pandora.be
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://enigmeta.com/">enigmeta.com</a></br /><br />
        <a href="http://twitter.com/enigmeta/">twitter.com/enigmeta</a></br /><br />
        <a href="http://flickr.com/photos/igor/">flickr.com/photos/igor</a></br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds2.feedburner.com/enigmeta">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>
</body>
</html>
