/** {
  box-sizing: border-box;
}

body {
  font: 14px sans-serif;
  width: 800px;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 0;
}

header {
 border-bottom: 1px solid #ddd;
 padding: 10px 0;
 margin-bottom: 10px;
}

h1 {
  display: inline-block;
  width: 60%;
  font-weight: 200;
  color: #444;
  margin: 0;
}

h2 {
  display: inline-block;
  text-align: right;
  width: 39%;
  font-weight: 200;
  color: #666;
  margin: 0;
}

#explain {


}*/

p.warning {
  font-size: 1.2rem;
  color: #999;
}

p {
  /*color: #666;*/
  /*line-height: 1.4em;*/
  /*font-size: 0.9rem;*/
}

.controls {
  width: 100%;
  margin-bottom: 1rem;
}

.styles {
  display: flex;
  margin-top: 10px;
}

.style {
  color: #888;
  text-transform: uppercase;
  font-size: 80%;
  flex: 1;
  width: 50%;
}

.style.right {
  flex: 1;
  text-align: right;
}

.loader-wrap {
  position: relative;
  width: 100%;
}

.embed-responsive {
  height: 75vh;
}

#loader {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 72px;
  text-align: center;
  padding-top: 100px;
  transition: opacity 500ms;
  color: #666;
  opacity: 1;
  pointer-events: none;
}

iframe {
  border: 1px solid #ddd;
  width: 100%;
  height: 75vh;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  font-size: 16px;
  opacity: 0.4;
  margin: 20px 0;
}

